#container1 {
  max-width: 800px;
}
/* header{
  background: rgba(0, 0, 0, 0.644)
} */
/* body {
    
  background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./img/pasteis-background.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
} */

.hidden {
  display: none;
}

.corFontePrimario {
  color: #fff0da;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.corFonteSecundario {
  color: #C75220;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.corBackgroundPrimario {
  background-color: #ffffff61;;
}
.corBackgroundSecundario {
  background-color: #FFE0B3;;
}

.corBackgroundBlur {
  background-color: rgba(255, 255, 255, 0.784)
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
